@page "/products"

@using Shop_Blazor_Server.Models
@inject ShopContext SC

<PageTitle>Product list</PageTitle>

<h1>Product list</h1>   


@if (Products == null || Products.Count() == 0)
{
    <div>No Products</div>
}
else
{
    <table class="table" style="color:red">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var p in Products)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>
                        <a>Edit</a>
                        <button class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }    

        </tbody>
    </table>
}


@code {
    IEnumerable<Product> Products;

    protected override void OnInitialized()
    {
        Products = SC.Products.ToList() ;
    }
}
