@page "/products"

@using Shop_Blazor_Server.Models;
@inject Shop_Blazor_Server.Models.ShopContext SC

<PageTitle>Products list</PageTitle>

<h1>Products list</h1>

<a href="/products/create">Create new product</a>

<hr/>

@if (Products == null && Products.Count()==0)
{
    <div>No products</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in Products)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>
                        <a href="/products/edit/@p.Id">Edit</a> |
                        <button @onclick="()=>Delete(p.Id)" class="btn btn-primary">Delete</button>

                    </td>
                </tr>
            }    
        </tbody>
    </table>
}


@code {
    public IEnumerable<Product> Products { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Products = SC.Products.ToList();
    }

    void Delete(int id)
    {
        var p = SC.Products.FirstOrDefault(p => p.Id == id);
        SC.Products.Remove(p);
        SC.SaveChanges();
        Products = SC.Products.ToList();
    }

}
