@page
@model Products_RazorPages.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Create product";
}

<h1>Create product</h1>

<hr />

<form method="post">
   
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" name="price" class="form-control" />
    </div>


    <button type="submit" class="btn-primary">Save</button>

</form>