@page
@model Products_RazorPages.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products list";       
}
<h1>Products list</h1>

<hr />
<a asp-page="/Products/Create">Create new product</a>


<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                <a href="/Products/Edit/@item.Id">Edit</a> |
                <a href="/Products/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>

